body {
  margin: 0;
  font-family: helvetica;
}

.square {
  background-color: blue;
  height: 100px;
  width: 100px;
}

.square:nth-child(2){
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.square--x::before,
.square--o::before {
  font-size: 100px;
  line-height: 100px;
  font-weight: lighter;
  width: 100px;
  color: white;
  display: block;
  text-align: center;
}

.square--o::before {
  content: "O";
}

.square--x::before {
  content: "X";
}

.square--won::before {
  font-weight: bold;
  font-size: 120px;
  color: red;
}

.square--lost::before {
  opacity: 0.5;
}
