/* Main style file */
* {
  box-sizing: border-box;
}

body {
  background: grey;
  margin: 0;
}

nav {
    background: white;
    height: 60px;
}

video {
  background: black;
  height: 300px;
  margin-left: 70px;
}

main {
  width: 678px;
}

.section1 {
  background: white;
  margin-left: 70px;
  width: 600px;
  display: inline-block;
  height: 90px;
}

.video__suggestions {
  height: 500px;
  width: 375px;

}

div {
  display: inline-block

}

.logo {
  height: 50px;
  display: inline-block;
}



.search {
  width: 500px;
  height: 50%;
  display: inline-block;
}

.submit__bar {
  display: inline-block;
  vertical-align: top;
}

.user__pic {
  height: 34px;
  width: 30px;
  border-radius: 100%;

}

.subscribe {
  background: red;
}

.cat__image {
  height: 46px;
  width:  46px;
  display: inline-block;
  margin: 0;
}

.article1 {
  width: 748px;
  height: 45px;
  display: inline-block;
  margin-top: 0;
}

.cat__user {
  background: white;
  margin: 0;
  width: 50px;
}

.freestyler {
margin: 0;
width: 100px;
}

.nav__aside {
  float: right;
}

.h2 {
  margin: 0;

}

.subscribe {
  width: 80px;
  display: inline-block;
}

.views {
  display: inline-block;
  margin: 0;
  float: right;
  width: 200px;
}

.video__suggestion__images {
  height: 82px;
  width: 150px;
}
