/* Main style file */
* {
  box-sizing: border-box;
}

body {
  background: rgb(241,241,241);
  margin: 0;
}

nav {
    background: white;
    height: 60px;
    margin-bottom: 20px;
}

.video {
  background: black;
  height: 400px;
  margin-left: 70px;

}

main {
  width: 678px;
  margin-right: 0;
  display: inline-block;
}

.section1 {
  background: white;
  margin-left: 70px;
  margin-top: 10px;
  width: 600px;
  display: inline-block;
  height: 180px;
}

.video__suggestions {
  height: 700px;
  width: 375px;
  float: right;
  background-color: rgb(255,255,255);
  margin-right: 90px;

}

div {
  display: inline-block

}

.logo {
  height: 50px;
  display: inline-block;
}



.search {
  width: 600px;
  height: 50%;
  display: inline-block;
}

.submit__bar {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.user__pic {
  height: 34px;
  width: 30px;
  border-radius: 100%;

}

.subscribe {
  background: red;
}

.cat__image {
  height: 46px;
  width:  46px;
  display: inline-block;
  margin: 0;
}

.article1 {
  width: 100px;
  height: 45px;
  display: inline-block;
  margin-top: 0;
}

.cat__user {
  background: white;
  margin: 0;
  width: 50px;
}

.freestyler {
margin: 0;
width: 100px;
}

.uploaded_by {
  margin-left: 70px;
  background: white;
  margin-top: 10px;
  margin-right: 8px;
}
.may{
  margin-top: 0;
  margin-bottom: 0;
}

.neo {
  font-size: 13px
}

.nav__aside {
  float: right;
}

.h2 {
  margin: 0;

}

.subscribe {
  width: 80px;
  display: inline-block;
}

.views {
  margin: 0;
  width: 540px;
  text-align: right;
}

.buttons {
  display: block;

}

.add_to {
  font-style: helvetica;
  font-size: 10px;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0;
  padding: 5px;
}

.more {
  font-style: helvetica;
  font-size: 10px;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0;
  padding: 5px;
}

.like {
  font-style: helvetica;
  font-size: 10px;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0;
  padding: 5px;
}

.share {
  font-style: helvetica;
  font-size: 10px;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px;
  padding: 5px;
}

.video__suggestion__images {
  height: 82px;
  width: 150px;
}

.video__suggestion__images {
  height: 100px;
  width: 175px;
}

.upload {
  align-items: center;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  height: 5px;
  text-decoration: none;
  margin: 30px;
  padding: 5px;
}

.movie_one {
  margin: 0;
  display: block;
}

.the_matrix {
  display: inline-block;
  margin: 0;
  font-size: 13px;
}

.dipoman {
  margin: 0;
  font-size: 10px;
}

.dipoman_views {
  margin: 0;
  padding-bottom: 0;
  font-size: 10px;
}

.construct {
  display: inline-block;
  margin: 0;
  font-size: 13px;
}

.galactic_archive {
  margin: 0;
  font-size: 10px;

}

.galactic_views {
  margin: 0;
  padding-bottom: 10px;
  font-size: 10px;

}

.morpheus {
  display: inline-block;
  margin: 0;
  font-size: 13px;

}

.jason_newsted {
  margin: 0;
  font-size: 10px;

}

.jason_newsted_views {
  margin: 0;
  padding-bottom: 10px;
  font-size: 10px;
}

.film_theory {
  display: inline-block;
  margin: 0;
  font-size: 13px;
}

.the_film_theorists {
  margin: 0;
  font-size: 10px;
}

.the_film_theorists_views {
  margin: 0;
  padding-bottom: 10px;
  font-size: 10px;
}
