/* Main style file */
body {
  background: grey;
  margin: 0;
}

nav {
    background: white;
    height: 60px;
}

.logo {
  height: 50px;
  display: inline-block;
}

.search {
  width: 500px;
  height: 10px;
  display: inline-block;
}

.submit__bar {
  display: inline-block;
}

.user__pic {
  height: 34px;
  width: 40px;
}
