/* Main style file */
* {
  box-sizing: border-box;
}

body {
  background: rgb(241,241,241);
  margin: 0;
}

nav {
    background: white;
    height: 60px;
}

video {
  background: black;
  height: 300px;
  margin-left: 70px;
}

main {
  width: 678px;
  margin-right: 0;
  display: inline-block;
}

.section1 {
  background: white;
  margin-left: 70px;
  width: 600px;
  display: inline-block;
  height: 90px;
}

.video__suggestions {
  height: 900px;
  width: 375px;
  float: right;
  background-color: rgb(255,255,255);
  margin-right: 50px;

}

div {
  display: inline-block

}

.logo {
  height: 50px;
  display: inline-block;
}



.search {
  width: 500px;
  height: 50%;
  display: inline-block;
}

.submit__bar {
  display: inline-block;
  vertical-align: top;
}

.user__pic {
  height: 34px;
  width: 30px;
  border-radius: 100%;

}

.subscribe {
  background: red;
}

.cat__image {
  height: 46px;
  width:  46px;
  display: inline-block;
  margin: 0;
}

.article1 {
  width: 748px;
  height: 45px;
  display: inline-block;
  margin-top: 0;
}

.cat__user {
  background: white;
  margin: 0;
  width: 50px;
}

.freestyler {
margin: 0;
width: 100px;
}

.nav__aside {
  float: right;
}

.h2 {
  margin: 0;

}

.subscribe {
  width: 80px;
  display: inline-block;
}

.views {
  margin: 0;
  width: 200px;
}

.video__suggestion__images {
  height: 82px;
  width: 150px;
}

.video__suggestion__images {
  height: 100px;
  width: 175px;
}

.upload {
  align-items: center;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  height: 5px;
  text-decoration: none;
  margin: 30px;
  padding: 5px;
}

.the_matrix {
  display: inline-block;
}

.dipoman {
  margin: 0;
}

.dipoman_views {
  margin: 0;
  padding-bottom: 5px;
}
