/* Main style file */
* {
  box-sizing: border-box;
}

body {
  background: grey;
  margin: 0;
}

nav {
    background: white;
    height: 60px;
}

video {
  background: black;
  width: 678;

}

main {
  width: 678px;
}

article {
  background: white;
}

aside {
  float: right;
}

div {
  display: inline-block

}

.logo {
  height: 50px;
  display: inline-block;
}



.search {
  width: 500px;
  height: 50%;
  display: inline-block;
}

.submit__bar {
  display: inline-block;
  vertical-align: top;
}

.user__pic {
  height: 34px;
  width: 30px;
  border-radius: 100%;

}

.subscribe {
  background: red;
}

.cat__image {
  height: 46px;
  width:  46px;
}
/* */
.cat__user {
  background: white;
}

h4 {
  width: 187.45;
  height: 18;
  padding: 0;
}

.nav__aside {
    float: right;
}
