
.image {
  height: 150px;
  width: 150px;
  border: solid black 5px;
  margin: -5px;
}

.albumImg {
  height: 150px;
  width: 160px;
  margin-bottom: -5px;
}

.button1 {
  background-color: white;
  border: none;
}

.button2 {
  background-color: white;
  border: none;
}

.button3 {
  background-color: white;
  border: none;
}

.button4 {
  background-color: white;
  border: none;
}

.button5 {
  background-color: white;
  border: none;
}

.button6{
  background-color: white;
  border: none;
}

.albumHeading {
  text-align: center;
}

.album {
  width: 188px;
  margin-right: 0;
  padding: 0;
}

.main{
  text-align: center;
  width: 100px;
  display: -webkit-box;
}

.SHOES {
  text-align: center;
  margin-right: 244px;
}

.firstRow {
  display: inline-flex;
  margin-left: 250px;
}

.secondRow {
  display: -webkit-inline-box;
  margin-left: 250px;
}

.albums {

}

.shoeName {
  border: solid black 5px;
  margin: auto;
  width: 150px;
}

.buttons {
  display: list-item;
  margin-bottom: 47px;
}
.aside {

}

.ul {

}

.photoHeader {
  text-align: center;
}

.modal {
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  Background-color: rgba(0,0,0,0.7)
}
.JordanModal {

}

.back{
  display: -webkit-box;
}

.Jordan1Button {
  background-color: aliceblue;
  border: none;
}




/*
.modal {

}

.myShoes {
  text-align: center;
  background-color: darkgrey;
  display: inline-block;
  width: 610px;
  margin-left: 330px;
}

.Album3 {
  text-align: center;
  display: inline-block;
  width: 610px;
  margin-left: 330px;
}

.photo1body {
  background: grey;
}

.photo1{
  text-align: center;
  display: inline-block;
  width: 610px;
  margin-left: 291px;

}

.backButton {
  text-decoration: none;
  border: solid black 1px;
  max-width: 160px;
  margin: 0;
  padding: 5px;
  display: inline-block;
  background: white;
  float: left;
  border-radius:2em;
  text-align: center;
}
.backButtonLI {
  padding: 0;
}


.albumsContainer {
  width: 620px;
  display: inline-block;
  margin: 0 330px;
}

.mapImage{
  width: 520px;
  height: 500px;
  display: inline-block;
  margin: 0 350px;
}

/*.firstRowimages {
  width: 200px;
  height: 200px;
  display: inline;
  align-items: center;
}

.secondRowimages {
  width: 200px;
  height: 200px;
  display: inline;
  align-items: center;
  margin-top: 5px;
}*/


/*.Picture{
  height: 250px;
  width: 200px;
  display: inline-block;
}



  .albumLink {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  width: 100%;
  margin-top: -4px;
  }

.aside {
  width: 194px;
  margin-right: 0;
  background: grey;
  height: 300px;
}*/*/
