.myAlbums {
  text-align: center;
  background-color: darkgrey;
  display: inline-block;
  width: 610px;
  margin-left: 330px;
  /*padding: 20px;*/
}

.Album3 {
  text-align: center;
  display: inline-block;
  width: 610px;
  margin-left: 330px;
}

.albumsContainer {
  width: 620px;
  display: inline-block;
  margin: 0 330px;
  /* margin takes 4 args top, right, bottom, left
  if only 1 arg, that's the arg for all 4
  if 2 args, the first arg = top/bottom 2nd arg = left/right*/
}

.firstRowimages {
  width: 200px;
  height: 200px;
  display: inline;
  align-items: center;
}

.secondRowimages {
  width: 200px;
  height: 200px;
  display: inline;
  align-items: center;
  margin-top: 5px;
}
/*.firstRow {
  display: inline;
}*/

.Picture{
  /*border: solid black 1px;*/
  height: 250px;
  width: 200px;
  display: inline-block;
}



  .albumLink {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  width: 100%;
  margin-top: -4px;
  }
