.div__container {
  /*background-color: #90949c;*/
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.post__container {
  background-color: white;
  width: 500px;
  border: color: #90949c; 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
}

.profile__image {

}

.post__title {
  display: inline-block;
  font-size: smaller;
  position: absolute;
  margin-top: 0;
  margin-left: 7px;
}

.post__likes {
  font-size: smaller;
  color: #90949c;
}

.post__date {
  display: inline-block;
  font-size: smaller;
  position: fixed;
  margin-top: 20px;
  color: #90949c;
  margin-left: 7px;
  font-weight: lighter;
}

.link {
  text-decoration: none;
}

.comment__form {
  background-color: #f6f7f9;
  height: 100px;
}

.comment__image {
  width: 40px;
  height: 40px;
}

.comment__name {
  display: inline-block;
  font-size: smaller;
  position: absolute;
  margin-top: 0;
  margin-left: 7px;
  font-weight: lighter;
}

.comment__image2 {
  width: 40px;
  height: 40px;
  display: block;
}
.comment__name2 {
  font-size: smaller;
  margin-top: -44px;
  margin-left: 47px;
  font-weight: lighter;
  text-decoration: none;
}
.post__date2 {
  font-size: smaller;
  color: #90949c;
  margin-left: 47px;
  margin-top: -7px;
  font-weight: lighter;
}
