.form {
  border: solid 5px #000000;
  background-color: #1e73be ;


}


.formHeader {
  

}


.formHeading {

}

.formTemplate {

}

.icon-search {

}

.selector {

}

.submitButton {

}

.textInput {

  font-family: serif;
  height: 30px;
  margin: 20px;
  width: 90%;


}
